﻿@model RushHour.ViewModels.UserPagingViewModel

@{
    ViewBag.Title = "Users";

    var SetPagerDigitClass = new Func<bool, string>(val => (val) ? "active" : "");
    var SetPagerArrowClass = new Func<bool, string>(val => (val) ? "" : "disabled");
}

<h2>All Users</h2>

<p>
    @Html.ActionLink("Create New", "Edit", null, new { @class = "btn btn-success" })
</p>

@Html.Partial("_AlertMessages")

<table class="table">
    <tr>
        <th>#</th>
        <th>Email Address</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Administrator</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Items)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.ActionLink(Html.DisplayTextFor(modelItem => item.IsAdministrator).ToHtmlString(), "MakeAdmin", new { id = item.Id })
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<ul class="pagination">
    <li class="@SetPagerArrowClass(Model.HasPrevPage)">
        @if (Model.HasPrevPage)
        {
            <a href="@Url.Action("All", new { page = Model.CurrentPageIndex - 1 })">&laquo;</a>
        }
        else
        {
            <span>&laquo;</span>
        }
    </li>

    @for (int index = 1; index <= Model.TotalPages; index++)
    {
        <li class="@SetPagerDigitClass(Model.IsCurrentPage(index))">
            @if (Model.CurrentPageIndex != index)
            {
                @Html.ActionLink(index.ToString(), "All", new { page = index })
            }
            else
            {
                <span>@index</span>
            }
        </li>
    }

    <li class="@SetPagerArrowClass(Model.HasNextPage)">
        @if (Model.HasNextPage)
        {
            <a href="@Url.Action("All", new { page = Model.CurrentPageIndex + 1 })">&raquo;</a>
        }
        else
        {
            <span>&raquo;</span>
        }
    </li>
</ul>