﻿@model RushHour.ViewModels.AppointmentPagingViewModel

@{
    ViewBag.Title = "Appointments";

    var SetPagerDigitClass = new Func<bool, string>(val => (val) ? "active" : "");
    var SetPagerArrowClass = new Func<bool, string>(val => (val) ? "" : "disabled");
}

<h2>All Appointments</h2>

@Html.Partial("_AlertMessages")

<table class="table">
    <tr>
        <th>#</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Price</th>
        <th>Created by</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Items)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<ul class="pagination">
    <li class="@SetPagerArrowClass(Model.HasPrevPage)">
        @if (Model.HasPrevPage)
        {
            <a href="@Url.Action("All", new { page = Model.CurrentPageIndex - 1 })">&laquo;</a>
        }
        else
        {
            <span>&laquo;</span>
        }
    </li>

    @for (int index = 1; index <= Model.TotalPages; index++)
    {
        <li class="@SetPagerDigitClass(Model.IsCurrentPage(index))">
            @if (Model.CurrentPageIndex != index)
            {
                @Html.ActionLink(index.ToString(), "All", new { page = index })
            }
            else
            {
                <span>@index</span>
            }
        </li>
    }

    <li class="@SetPagerArrowClass(Model.HasNextPage)">
        @if (Model.HasNextPage)
        {
            <a href="@Url.Action("All", new { page = Model.CurrentPageIndex + 1 })">&raquo;</a>
        }
        else
        {
            <span>&raquo;</span>
        }
    </li>
</ul>