﻿@model RushHour.ViewModels.AppointmentEditViewModel

@{
    ViewBag.Title = "Edit";
}

@section Style {
    <link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.min.css">
}

@section JavaScript {
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>

    <script>
        $(function () {
            moment.locale('en', {
                week: { dow: 1 }
            });

            $('#datetimepicker').datetimepicker({
                format: "DD/MM/YYYY HH:mm",
                minDate: new Date(),
                daysOfWeekDisabled: [0]
            });
        });
    </script>
}

<h2>Appointments</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Save an Appointment</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.StartDateTime, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.StartDateTime, new { htmlAttributes = new { @class = "form-control", @placeholder = "dd/mm/yyyy hh:mm", @id = "datetimepicker", @type = "text" } })
                @Html.ValidationMessageFor(model => model.StartDateTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Activities, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-4">
                @for (int i = 0; i < Model.Activities.Count; i++)
                {
                    bool? isChosenActivity = Model.ChosenActivities?.Any(x => x == Model.Activities[i].Id);
                    string _checked = isChosenActivity.HasValue && isChosenActivity.Value ? "checked" : "";

                    <input type="checkbox" name="ChosenActivities" value="@Model.Activities[i].Id" id="@Model.Activities[i].Name" @_checked />
                    <label for="@Model.Activities[i].Name">@Model.Activities[i].Name (Price: $@Model.Activities[i].Price, Duration: @Model.Activities[i].Duration minutes)</label>
                    <br />
                }

            </div>
        </div>

        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <div class="col-md-offset-4 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-primary" })
</div>
