﻿@model RushHour.ViewModels.ActivityPagingViewModel

@{
    ViewBag.Title = "Activities";

    var SetPagerDigitClass = new Func<bool, string>(val => (val) ? "active" : "");
    var SetPagerArrowClass = new Func<bool, string>(val => (val) ? "" : "disabled");
}

<h2>Activities</h2>

<p>
    @Html.ActionLink("Create New", "Edit", null, new { @class = "btn btn-success" })
</p>

@Html.Partial("_AlertMessages")

<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Duration</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

<ul class="pagination">
    <li class="@SetPagerArrowClass(Model.HasPrevPage)">
        @if (Model.HasPrevPage)
        {
            <a href="@Url.Action("Index", new { page = Model.CurrentPageIndex - 1 })">&laquo;</a>
        }
        else
        {
            <span>&laquo;</span>
        }
    </li>

    @for (int index = 1; index <= Model.TotalPages; index++)
    {
        <li class="@SetPagerDigitClass(Model.IsCurrentPage(index))">
            @if (Model.CurrentPageIndex != index)
            {
                @Html.ActionLink(index.ToString(), "Index", new { page = index })
            }
            else
            {
                <span>@index</span>
            }
        </li>
    }

    <li class="@SetPagerArrowClass(Model.HasNextPage)">
        @if (Model.HasNextPage)
        {
            <a href="@Url.Action("Index", new { page = Model.CurrentPageIndex + 1 })">&raquo;</a>
        }
        else
        {
            <span>&raquo;</span>
        }
    </li>
</ul>