﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rush Hour - @ViewBag.Title</title>
    <link href="~/Images/Icon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    @RenderSection("Style", false)
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Rush Hour", "Index", "Home", new { area = "" }, new { @class = "navbar-brand linear" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li role="presentation">
                        @Html.ActionLink("Home", "Index", "Home", new { }, new { @title = "Home page" })
                    </li>
                    <li role="presentation">
                        @Html.ActionLink("My Appointments", "Index", "Appointment", new { }, new { @title = "My Appointments" })
                    </li>
                </ul>

                @Html.Partial("_HeaderLoginPanel")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    <footer class="footer">
        <div class="container">
            <p class="footer-text">Copyright &copy; @DateTime.Now.Year <a href="#" target="_blank">RushHour.BG</a>. All rights reserved.</p>
        </div>
    </footer>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("JavaScript", false)
</body>
</html>